@model GorkemAydogduProje.Models.Database.tbl_IsAciklama
@{
    ViewBag.Title = "AciklamalariGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@using (Html.BeginForm("Guncelle", "IsAciklamalari", FormMethod.Post))
{
<div class="form-group">
    @Html.LabelFor(m => m.Id)
    @Html.TextBoxFor(m => m.Id, new { @readonly = "true", @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.tbl_Is.IsAdi)
    @Html.TextBoxFor(m => m.tbl_Is.IsAdi, new { @readonly = "true", @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.Aciklama)
    @Html.TextBoxFor(m => m.Aciklama, new { @readonly = "true", @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.tbl_Calisan.CalisanAdi)
    @Html.TextBoxFor(m => m.tbl_Calisan.CalisanAdi, new { @readonly = "true", @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.Durum)
    @Html.TextBoxFor(m => m.Durum, new { @Value = "1", @readonly = "true", @class = "form-control" })

    <button style="margin-top:15px;" class="btn btn-warning">Güncelle</button>
</div>
}

